.carouselContainer {
    max-width: 48rem;
    margin: auto;
    display: flex;
    /*gap: 15px;*/
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    @media (max-width: 576px) {
        display: block;
    }

    &.left {
        flex-direction: row-reverse;
    }

    &.right {
        flex-direction: row;
    }

    &.top {
        flex-direction: column-reverse;
    }

    &.bottom {
        flex-direction: column;
    }
}

.viewport {
    overflow: hidden;
    position: relative;
    aspect-ratio: 1 / 1;
    height: 100%;
    width: 100%;

    &.br8 {
        border-radius: 8px;
    }

    &.br16 {
        border-radius: 16px;
    }

    &.br24 {
        border-radius: 24px;
    }

    &.br32 {
        border-radius: 32px;
    }

    &.s100 {
        max-height: 100px;
        max-width: 100px;
    }

    &.s200 {
        max-height: 200px;
        max-width: 200px;
    }

    &.s300 {
        max-height: 300px;
        max-width: 300px;
    }

    &.s400 {
        max-height: 400px;
        max-width: 400px;
    }

    &.s500 {
        max-height: 500px;
        max-width: 500px;
    }

    &.s600 {
        max-height: 600px;
        max-width: 600px;
    }

    &.s700 {
        max-height: 700px;
        max-width: 700px;
    }
}

.slideContainer {
    display: flex;
    touch-action: pan-y;
    height: 100%;
    width: 100%;
}

.slideItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slideImage {
    object-fit: cover;
    height: 100%;
}

.dialogImage {
    object-fit: cover;
    width: 100vw;
    max-width: 900px;
}

.carouselControls {
    display: flex;
    justify-content: space-around;
    gap: 1.2rem;

    @media (max-width: 576px) {
        display: none;
    }
}

.thumbsViewport {
    overflow: hidden;
}

.thumbsContainer {
    display: flex;
    gap: 8px;

    &.right,
    &.left {
        flex-direction: column;
    }

    &.bottom,
    &.top {
        flex-direction: row;
    }
}

.arrowButtonsPrev {
    color: var(--tg-theme-bg-color);
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 2px solid;
    border-radius: 50%;
    margin-left: 15px;
    z-index: 1;
    transform: translate(0%, -50%);
    mix-blend-mode: difference;
}

.arrowButtonsNext {
    color: var(--tg-theme-bg-color);
    position: absolute;
    top: 50%;
    margin-right: 15px;
    right: 0;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 2px solid;
    border-radius: 50%;
    z-index: 1;
    transform: translate(0%, -50%);
    mix-blend-mode: difference;
}

.dotsWrapper {
    width: 80%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.dotsContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.dotButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    mix-blend-mode: difference;

    &.selected:after {
        border: 2px solid var(--text-body);

        @media (max-width: 576px) {
            border: 1px solid var(--tg-theme-bg-color);
            background: var(--text-body);
        }
    }

    &.dbs8 {
        width: 8px;
        height: 8px;
    }

    &.dbs16 {
        width: 16px;
        height: 16px;
    }

    &.dbs24 {
        width: 24px;
        height: 24px;
    }

    &:after {
        width: 100%;
        height: 100%;
        border: 2px solid var(--tg-theme-bg-color);
        border-radius: 50%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        content: '';

        @media (max-width: 576px) {
            border: 1px solid var(--detail-medium-contrast);
            background: var(--tg-theme-bg-color);
        }
    }
}
