.wrapper {
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
}

.item {
    justify-content: space-between;
    gap: 4px;
}

.trigger {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nothing-found {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: var(--tg-theme-hint-color);
    width: 100%;
    height: 300px;
}
