.horizontal-media-scroller {
    --size: 150px;
    --gap: 1rem;

    display: grid;
    grid-auto-flow: column;
    gap: calc(1rem / 2);
    margin: 0;
    max-height: 150px;
    max-width: 650px;

    overflow-x: auto;
    overscroll-behavior-inline: contain;

    & > li {
        display: inline-block; /* removes the list-item bullet */
        backface-visibility: hidden;
    }

    & picture {
        inline-size: 100px;
        block-size: 100px;
    }
}

.img {
    /* smash into whatever box it's in */
    inline-size: 100%;
    block-size: 100%;

    /* don't squish but do cover the space */
    object-fit: cover;

    /* soften the edges */
    border-radius: 1ex;
    overflow: hidden;

    /* if empty, show a gradient placeholder */
    background-image:
            linear-gradient(
                    to bottom,
                    hsl(0 0% 40%),
                    hsl(0 0% 20%)
            );
}
