.productPreview {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 240px;
    height: 350px;
    width: 100%;
    background: #fff;
    position: relative;
    overflow: hidden;
    margin-top: 5px;
}

.productPreview:hover {
    transition: all 0.3s ease;
    border-color: #000;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 9%);
}

.img {
    padding: 4px;
    width: 100%;
    border-radius: 16px;
}

.imageContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.description {
    font-size: 0.8em;
}

.productBtn {
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--tg-theme-text-color);
    text-decoration: none;
}

.productInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    padding: 8px;
}

.title {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
}

.viewDescription {
    text-overflow: ellipsis;
    overflow: hidden;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4px;
}

.discountPrice {
    display: flex;
    gap: 4px;
    font-size: min(max(12px, calc(11px + 0.5vw)), 22px);
    align-items: baseline;
}

.discountedPrice {
    font-weight: 700;
}

.firstPrice {
    color: #8e8e8e;
    margin: 0 4px 0 4px;
    text-decoration: line-through  #ff0000;
    padding: 0 4px 0 4px;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 16px;
    font-size: min(max(11px, calc(10px + 0.5vw)), 20px);
}

.discountPercent {
    color: #f91155;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 16px;
    font-size: min(max(11px, calc(10px + 0.5vw)), 20px);
}

.bestseller {
    position: absolute;
    top: 6%;
    left: 8%;
    padding: 2px 6px;
    background: #007aff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    font-style: italic;
    color: var(--tg-theme-bg-color);
    border-radius: 4px;
    z-index: 5;
}

.new {
    position: absolute;
    top: 6%;
    left: 8%;
    padding: 2px 6px;
    background: #07be58e0;
    font-size: 14px;
    font-weight: 700;
    color: var(--tg-theme-bg-color);
    letter-spacing: 3px;
    font-style: italic;
    border-radius: 4px;
    z-index: 5;
}

.sale {
    position: absolute;
    top: 6%;
    right: 8%;
    padding: 2px 6px;
    background: red;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    font-style: italic;
    color: var(--tg-theme-bg-color);
    border-radius: 4px;
    z-index: 5;
}

.stars {
    display: flex;
    align-items: center;
    gap: 4px;
}

@media (width <= 768px) {
    .productPreview {
        max-width: 360px;
        height: auto;
        flex-basis: calc(50% - 5px);
    }
}
