.headerLayout {
    border-bottom: 1px solid var(--tg-theme-hint-color);
    color: var(--tg-theme-text-color);
    width: 100%;
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 0 8px;
    box-shadow: 0 0 10px var(--tg-theme-header-bg-color);
    z-index: 100;
}

.headerMain {
    max-width: var(--header-max-width);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.headerLeft {
    display: flex;
    flex: 1;
    justify-content: start;
}

.headerCenter {
    min-width: 0;
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerRight {
    display: flex;
    flex: 1;
    justify-content: end;
}

.username {
    margin-left: auto;
}

@media (width <= 768px) {
    .headerMain {
        padding: 0;
    }
}
