.search-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: var(--tg-theme-bg-color);
    top: 0;
    left: 0;
    right: 0;
}

.relative-flex {
    position: relative;
    display: flex;
    padding: 12px;
}

.input-block {
    display: block;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #d5d5d5;
    padding: 8px 0 8px 30px;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.input-block:focus {
    border: 1px solid #000;
}

.magnifying-glass-icon {
    position: absolute;
    left: 18px;
    top: 50%;
    height: 18px;
    width: 18px;
    transform: translateY(-50%);
    opacity: 0.5;
}

.clear-input {
    border-radius: 50%;
    border: none;
    display: flex;
    padding: 4px;
}

.buttons-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    left: -32px;
}
