:root {
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --header-max-width: 1200px;
    --header-padding: 10px;
    --main-layout-max-width: 1200px;
    --main-layout-container-padding: 8px;
    --tg-viewport-height: 100vh;
    --tg-viewport-stable-height: 100vh;

    /*
    Main overflow
    */
    --main-overflow: auto;

    /*
    icon sizes
    */
    --icon-size: 50px;

    /*
    header height
    */
    --header-height: 60px;

    /*
    categories slider
    */
    --categories-slider-height: 200px;
    --categories-slider-width: 200px;
    --categories-slider-font-size: 22px;
    --categories-slider-border-radius: 18px 0 18px 0;
    --horizontal-scrollling-gap: 8px;
    --categories-item-count: 10;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100dvh;
}

.light_theme {
    --tg-color-scheme: light;
    --tg-theme-accent-text-color: #2481cc;
    --tg-theme-bg-color: #fff;
    --tg-theme-button-color: #2481cc;
    --tg-theme-button-text-color: #fff;
    --tg-theme-destructive-text-color: #ff3b30;
    --tg-theme-header-bg-color: #efeff3;
    --tg-theme-hint-color: #999;
    --tg-theme-link-color: #2481cc;
    --tg-theme-secondary-bg-color: #efeff3;
    --tg-theme-section-bg-color: #fff;
    --tg-theme-section-header-text-color: #6d6d71;
    --tg-theme-subtitle-text-color: #999;
    --tg-theme-text-color: #000;

    /*embla*/
    --brand-primary: rgb(47, 112, 193);
    --brand-secondary: rgb(116, 97, 195);
    --brand-alternative: rgb(19, 120, 134);
    --background-site: rgb(249, 249, 249);
    --background-code: rgb(244, 244, 244);
    --text-body: rgb(54, 49, 61);
    --text-comment: rgb(99, 94, 105);
    --text-high-contrast: rgb(49, 49, 49);
    --text-medium-contrast: rgb(99, 94, 105);
    --text-low-contrast: rgb(116, 109, 118);
    --detail-high-contrast: rgb(192, 192, 192);
    --detail-medium-contrast: rgb(234, 234, 234);
    --detail-low-contrast: rgb(240, 240, 242);
    --admonition-note: rgb(46, 109, 188);
    --admonition-warning: rgb(255, 196, 9);
    --admonition-danger: rgb(220, 38, 38);
    --brand-primary-rgb-value: 47, 112, 193;
    --brand-secondary-rgb-value: 116, 97, 195;
    --brand-alternative-rgb-value: 19, 120, 134;
    --background-site-rgb-value: 249, 249, 249;
    --background-code-rgb-value: 244, 244, 244;
    --text-body-rgb-value: 54, 49, 61;
    --text-comment-rgb-value: 99, 94, 105;
    --text-high-contrast-rgb-value: 49, 49, 49;
    --text-medium-contrast-rgb-value: 99, 94, 105;
    --text-low-contrast-rgb-value: 116, 109, 118;
    --detail-high-contrast-rgb-value: 192, 192, 192;
    --detail-medium-contrast-rgb-value: 234, 234, 234;
    --detail-low-contrast-rgb-value: 240, 240, 242;
    --admonition-note-rgb-value: 46, 109, 188;
    --admonition-warning-rgb-value: 255, 196, 9;
    --admonition-danger-rgb-value: 220, 38, 38;
}

.dark_theme {
    --tg-theme-accent-text-color: #2ea6ff;
    --tg-theme-bg-color: #18222d;
    --tg-theme-button-color: #2ea6ff;
    --tg-theme-button-text-color: #fff;
    --tg-theme-destructive-text-color: #ef5b5b;
    --tg-theme-header-bg-color: #131415;
    --tg-theme-hint-color: #b1c3d5;
    --tg-theme-link-color: #62bcf9;
    --tg-theme-secondary-bg-color: #131415;
    --tg-theme-section-bg-color: #18222d;
    --tg-theme-section-header-text-color: #b1c3d5;
    --tg-theme-subtitle-text-color: #b1c3d5;
    --tg-theme-text-color: #fff;

    /*embla*/
    --brand-primary: rgb(138, 180, 248);
    --brand-secondary: rgb(193, 168, 226);
    --brand-alternative: rgb(136, 186, 191);
    --background-site: rgb(0, 0, 0);
    --background-code: rgb(12, 12, 12);
    --text-body: rgb(222, 222, 222);
    --text-comment: rgb(170, 170, 170);
    --text-high-contrast: rgb(230, 230, 230);
    --text-medium-contrast: rgb(202, 202, 202);
    --text-low-contrast: rgb(170, 170, 170);
    --detail-high-contrast: rgb(101, 101, 101);
    --detail-medium-contrast: rgb(25, 25, 25);
    --detail-low-contrast: rgb(21, 21, 21);
    --admonition-note: rgb(138, 180, 248);
    --admonition-warning: rgb(253, 186, 116);
    --admonition-danger: rgb(220, 38, 38);
    --brand-primary-rgb-value: 138, 180, 248;
    --brand-secondary-rgb-value: 193, 168, 226;
    --brand-alternative-rgb-value: 136, 186, 191;
    --background-site-rgb-value: 0, 0, 0;
    --background-code-rgb-value: 12, 12, 12;
    --text-body-rgb-value: 222, 222, 222;
    --text-comment-rgb-value: 170, 170, 170;
    --text-high-contrast-rgb-value: 230, 230, 230;
    --text-medium-contrast-rgb-value: 202, 202, 202;
    --text-low-contrast-rgb-value: 170, 170, 170;
    --detail-high-contrast-rgb-value: 101, 101, 101;
    --detail-medium-contrast-rgb-value: 25, 25, 25;
    --detail-low-contrast-rgb-value: 21, 21, 21;
    --admonition-note-rgb-value: 138, 180, 248;
    --admonition-warning-rgb-value: 253, 186, 116;
    --admonition-danger-rgb-value: 220, 38, 38;
}

body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

/*
clear button styles
*/

button {
    outline: none;
    box-shadow: none;
    border: none;
    background: none;
    cursor: pointer;
}

/*
Cart and favorites icons styles
*/

.notEmptyCF {
    position: absolute;
    top: 0;
    right: -3px;
    width: 14px;
    height: 14px;
    background-color: red;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.iconLinkCF {
    position: relative;
    width: 24px;
    height: 24px;
    display: block;
}

.iconCF {
    height: 100%;
    width: 100%;
    transition: background-color 0.2s ease-in-out;
}

.iconBtnCF {
    width: var(--icon-size);
    height: var(--icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    box-shadow: none;
    border: none;
    background: none;
    color: var(--tg-theme-text-color);
    cursor: pointer;
}

@media (width <= 768px) {
    :root {
        --icon-size: 40px;
        --header-height: 50px;
        --header-padding: 0;

        --categories-slider-height: 100px;
        --categories-slider-width: 100px;
        --categories-slider-font-size: 12px;
        --categories-slider-border-radius: 8px 0 8px 0;
    }
}
