:root {
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --header-max-width: 1200px;
    --header-padding: 10px;
    --main-layout-max-width: 1200px;
    --main-layout-container-padding: 8px;
    --tg-viewport-height: 100vh;
    --tg-viewport-stable-height: 100vh;

    /*
    Main overflow
    */
    --main-overflow: auto;

    /*
    icon sizes
    */
    --icon-size: 50px;

    /*
    header height
    */
    --header-height: 60px;

    /*
    categories slider
    */
    --categories-slider-height: 200px;
    --categories-slider-width: 200px;
    --categories-slider-font-size: 22px;
    --categories-slider-border-radius: 18px 0 18px 0;
    --horizontal-scrollling-gap: 8px;
    --categories-item-count: 10;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100dvh;
}

.light_theme {
    --tg-color-scheme: light;
    --tg-theme-accent-text-color: #2481cc;
    --tg-theme-bg-color: #fff;
    --tg-theme-button-color: #2481cc;
    --tg-theme-button-text-color: #fff;
    --tg-theme-destructive-text-color: #ff3b30;
    --tg-theme-header-bg-color: #efeff3;
    --tg-theme-hint-color: #999;
    --tg-theme-link-color: #2481cc;
    --tg-theme-secondary-bg-color: #efeff3;
    --tg-theme-section-bg-color: #fff;
    --tg-theme-section-header-text-color: #6d6d71;
    --tg-theme-subtitle-text-color: #999;
    --tg-theme-text-color: #000;
}

.dark_theme {
    --tg-theme-accent-text-color: #2ea6ff;
    --tg-theme-bg-color: #18222d;
    --tg-theme-button-color: #2ea6ff;
    --tg-theme-button-text-color: #fff;
    --tg-theme-destructive-text-color: #ef5b5b;
    --tg-theme-header-bg-color: #131415;
    --tg-theme-hint-color: #b1c3d5;
    --tg-theme-link-color: #62bcf9;
    --tg-theme-secondary-bg-color: #131415;
    --tg-theme-section-bg-color: #18222d;
    --tg-theme-section-header-text-color: #b1c3d5;
    --tg-theme-subtitle-text-color: #b1c3d5;
    --tg-theme-text-color: #fff;
}

body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

/*
clear button styles
*/

button {
    outline: none;
    box-shadow: none;
    border: none;
    background: none;
    cursor: pointer;
}

/*
Cart and favorites icons styles
*/

.notEmptyCF {
    position: absolute;
    top: 0;
    right: -3px;
    width: 14px;
    height: 14px;
    background-color: red;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.iconLinkCF {
    position: relative;
    width: 24px;
    height: 24px;
    display: block;
}

.iconCF {
    height: 100%;
    width: 100%;
    transition: background-color 0.2s ease-in-out;
}

.iconBtnCF {
    width: var(--icon-size);
    height: var(--icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    box-shadow: none;
    border: none;
    background: none;
    color: var(--tg-theme-text-color);
    cursor: pointer;
}

@media (width <= 768px) {
    :root {
        --icon-size: 40px;
        --header-height: 50px;
        --header-padding: 0;

        --categories-slider-height: 100px;
        --categories-slider-width: 100px;
        --categories-slider-font-size: 12px;
        --categories-slider-border-radius: 8px 0 8px 0;
    }
}
