.mainLayout {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: 100dvh;
}

.mainLayoutContainer {
    flex: 1;
    padding: var(--main-layout-container-padding);
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: var(--main-layout-max-width);
    background: #f2f2f2;
}

.mainPageDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 100%;
    z-index: 2;
    font-family: var(--font-mono);
    height: fit-content;
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}
