.StarRating {
    display: flex;
    gap: 2px;
    align-items: center;
    .hovered {
        fill: var(--tg-theme-destructive-text-color);
        color: var(--tg-theme-destructive-text-color);
    }
}

.starIcon {
    cursor: pointer;
}

.normal {
    fill: none;
    height: 16px;
}
