.new {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    border: none;
    height: 100%;
    width: 100%;
    border-top: 2px solid grey;
}

@media (width <= 768px) {
    .new {
        padding: 8px 0;
    }
}
