.favoritesImg {
    display: flex;
    transition: all 0.2s ease-in;
}

.favoritesImg:hover {
    transform: scale(1.1);
}

.favoritesBtn {
    cursor: pointer;
    border-radius: 50%;
    border: none;
}
