.breadcrumbsContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.breadcrumbsList {
    display: inline-flex;
    line-height: 1.25rem;
    gap: 20px;
    font-size: 1rem;
}

.breadcrumbsItem {
    &:not(:last-child) a {
        color: #a0a0ab;
    }

    & a {
        text-decoration: none;
        color: #a0a0ab;
    }

    &:not(:first-child) {
        list-style-type: disc;
    }

    &:hover a {
        color: black;
    }
}
