.product {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    max-width: 170px;
}

.productItem {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    gap: 16px;
}

.itemImg {
    background: lightgray;
    background: var(--tg-theme-button-color);
}

.img {
    background: lightgray;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
}

.description {
    font-size: 0.8em;
}

.addBtn {
    width: 100%;
    cursor: pointer;
}

.productBtn {
    cursor: pointer;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.productWrapper {
    display: flex;
    gap: 8px;
    padding: 0 8px;
    justify-content: space-evenly;
}

.productDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
