.categoryItem {
    margin-right: 8px;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    background: var(--tg-theme-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.horizontalMediaScroller {
    display: grid;
    grid-auto-flow: column;
    grid-gap: calc(6px / 2);

    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 6px;
    overscroll-behavior-inline: contain;
}

.horizontalMediaScroller figure {
    scroll-snap-align: start;
}

@media (width <= 768px) {
    .categoryItem {
        width: 45vw;
        height: 45vw;
    }
}
