.itemImgThumbs {
    max-height: 5rem;
}

.itemImg {
    max-width: 40rem;
    max-height: 40rem;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-button-prev {
    top: 22px;
    height: 100%
}

/*@media (max-width: 768px) {*/
/*    .productPreview {*/
/*        max-width: 360px;*/
/*        flex-basis: calc(50% - 5px);*/
/*    }*/
/*}*/
